@media screen and (max-width: 1200px) {
    html {
        font-size: 1.33vw;
    }
}
@media screen and (max-width: 850px) {
    html {
        font-size: 2.66vw;
    }
    .page1__body a {
    font-size: 2.25rem;
    font-weight: 500;
    }
    .menu__button{
        display: block;
    }
    .menu a{
        position: fixed;
        padding: 1rem;
        background: #fff;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
    }
    .menu__item, 
    .menu__item-uppercase{
        color: black;
        display: table;
    }
}