html{
    font-size: 1vw;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body{
    font-family: "IBM Plex Sans";
    overflow-x: hidden;
}
.header{
    display: grid;
}
.page1{
    background: url("/images/main-img.png") no-repeat center/ cover;
    height: 35.5rem;
}
.page1::after {
    content: "";
    display: block;
    border-right: 100vw solid #fff;
    border-top: 9.37rem solid transparent;
    overflow: hidden;
    height: 10.2rem;
    margin-top: 3.68rem;
}
.page1__header{
    display: flex;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 8.75rem;
}
.logo{
margin-top: 3.62rem;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 3.25rem;
}
.menu .row1{
    margin-top: 3.62rem;
}
.menu .row2{
    margin-top: 1.37rem;
}
.menu__item{
    color: white;
    text-decoration: none;
    /* margin-top: 3.62rem; */
    margin-left: 2.75rem;
}
.menu__item-uppercase{
    margin-left: 3.87rem;
    /* margin-right: 1.43rem;
    margin-top: 1.37rem; */
    text-transform: uppercase;
}
.menu__item:hover{
    text-decoration: underline;
}
.menu__item-button{
    height: 1.25rem;
    width: 8.12rem;
    border-radius: 0.37rem;
    background-color: white;
    border: 0rem;
}
.menu__item-button:hover{
background-color: red;
text-decoration: none !important;
}
.bell{
    text-decoration: none;
    color: black;
}
.lang{
    margin-top: 2.5rem;
    width: 1.4rem;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 0.75rem;
    line-height: 1rem;
}
.language__ico {
    margin-left: 1.25rem;
    margin-top: -1.93rem;
}
.lang li a{
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
.lang li a:hover{
    background: gray;
    box-shadow: 1px 5px 10px -5px gray;
    transition: 0.3s;
}
.lang li ul {
    position: absolute;
    min-width: 1.4rem;
    left: -0.1rem;
    display: none;
    margin-top: -15px;
}
.lang ul li{
    position: relative;
}
.lang li ul li {
    padding: 0.1rem;
}

.lang li:hover ul {
    display: block;
}
.page1__body{
    display: flex;
    flex-direction: column;
    margin-top: 4.37rem;
    text-align: center;
}
.page1__body a{
color: white;
text-decoration: none;
align-items: center;
font-family: "IBM Plex Sans";
font-style: normal;
font-weight: 100;
font-size: 4.25rem;
line-height: 5.5rem;
}
.welcom__block{
    display: flex;
    justify-content: center;
} 
.welcom__fone{
    width: 26.6rem;
    height: 13.81rem;
    margin-left: 42.5rem;
    background: #FFFFFF;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    border-radius: 0.62rem;
    margin-top: -10.31rem;
}
.block__welcom .welcome__head,
.welcome__text {
    font-family: "IBM Plex Sans";
    font-style: normal;
}
.welcome__head {
    margin-left: 2.94rem;
    margin-top: 2.56rem;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 2.8rem;
    letter-spacing: 1px;
}
.welcome__text {
    margin-left: 2.94rem;
    margin-top: 1.81rem;
    font-weight: normal;
    font-size: 0.6rem;
    line-height: 0.8rem;
}
.menu__button{
    display: none;
}