html{
    font-size: 1vw;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body{
    font-family: "IBM Plex Sans";
}
.header{
    display: grid;
}
.header__block{
    background: url("/images/main-img.png") no-repeat center/ cover;
    height: 600px;
}
/* Main img */
.header__block::after {
    margin-top: 9rem;
    content: "";
    display: block;
    border-right: 100vw solid #fff;
    border-top: 100px solid transparent;
    overflow: hidden;
    height: 12.2rem;
}


/* logo */
.item-menu__logo {
    margin-left: 5.6rem;
    margin-top: 3.3rem;
}

/* Menu */
.menu a{
    text-decoration: none;
    float: left;
    color: #FFFFFF;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1em;
    font-weight: bold;
}

.menu a:hover:before {
    transform: scaleX(1);
    transition: 0.2s;
}

.menu a::before {
    content: "";
    width: 100%;
    height: 0.06rem;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    transform: scaleX(0);
    transition: 0.2s;
}

/* .item-menu__tel {
    width: 6.7rem;
    margin-left: 18.1rem;
    margin-top: -2.3rem;
}

.item-menu__mail {
    width: 6.1rem;
    margin-left: 28.1rem;
    margin-top: -2.3rem;
}

.item-menu__adress {
    width: 6.5rem;
    margin-left: 37.7rem;
    margin-top: -2.3rem;
}

.item-menu__eventdetails {
    width: 5.4rem;
    margin-left: 18.5rem;
}

.item-menu__speakers {
    width: 3.6rem;
    margin-left: 4.7rem;
}

.item-menu__sponsors {
    width: 3.8rem;
    margin-left: 4.3rem;
}

.item-menu__pastevents {
    width: 4.6rem;
    margin-left: 4.5rem;
}

.item-menu__contact {
    width: 3.2rem;
    left: 54.4rem;
    top: 4.8rem;
} */

/* button */
.item-menu__button {
    width: 8.1rem;
    height: 1.3rem;
    margin-left: 46.5rem;
    margin-top: -6rem;
    background-color: white;
    border-radius: 0.3rem;
    border: 0px;
}

.item-menu__bell {
    left: 21%;
    right: 5.38%;
    top: 9.52%;
    bottom: 14.29%;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-size: 0.7rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: black;
}

.item-menu__button:hover {
    background-color: red;
    transition: 0.3s;
}

.button-item__iconPhone {
    left: 7%;
    right: 80%;
    top: 21%;
    bottom: 19%;
}

/* choice language */
.language__ico {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    left: 1.25rem;
    top: 0.1rem;
}

.menu__language {
    position: absolute;
    width: 1.4rem;
    height: 1rem;
    left: 63.1rem;
    top: 2.9rem;
    font-size: 0.7rem;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 0.7rem;
    line-height: 1rem;
}

.menu__language ul li a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
}

.menu__language ul li {
    position: relative;
}

.menu__language li a:hover {
    background: gray;
    box-shadow: 1px 5px 10px -5px gray;
    transition: 0.3s;
}

/* language list*/
.menu__language li ul {
    position: absolute;
    min-width: 1.4rem;
    left: -0.1rem;
    display: none;
}

.menu__language li ul li {
    padding: 0.3rem;
}

.menu__language li:hover ul {
    display: block;
}

/* Заголовки */
.headlines__main a {
    font-family: "IBM Plex Sans";
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}

.main-headline__chooseFilm {
    width: 45.5rem;
    height: 5.5rem;
    margin-left: 12.5rem;
    margin-top: 14rem;
    font-weight: 100;
    font-size: 4.25rem;
    line-height: 5.5rem;
}

.main-headline__present {
    width: 37rem;
    height: 3.3rem;
    margin-left: 30.5rem;
    margin-top: 20.6rem;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.3rem;
}

/* welcom text */
.welcom__fone {
    position: absolute;
    width: 26.6rem;
    height: 13.8rem;
    margin-left: 35.1rem;
    margin-top: 9rem;
    background: #FFFFFF;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    border-radius: 0.6rem;
}

.welcom__item .welcome__head,
.welcome__text {
    position: absolute;
    font-family: "IBM Plex Sans";
    font-style: normal;
}

.welcome__head {
    left: 3rem;
    top: 1.8rem;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 2.8rem;
    letter-spacing: 1px;
}

.welcome__text {
    width: 20.75rem;
    height: 4.3rem;
    left: 3rem;
    top: 5.8rem;
    font-weight: normal;
    font-size: 0.6rem;
    line-height: 0.8rem;
}