html{
    font-size: 1vw;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body{
    font-family: "IBM Plex Sans";
}
.header{
    display: grid;
}
.page1{
    background: url("/images/main-img.png") no-repeat center/ cover;
    height: 568px;
}
.page1::after {
    content: "";
    display: block;
    border-right: 100vw solid #fff;
    border-top: 150px solid transparent;
    overflow: hidden;
    height: 10.2rem;
    margin-top: 59px;
}
.page1__header{
    display: flex;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 140px;
}
.logo{
margin-top: 58px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    max-width: 738px;
}
.menu__item{
    color: white;
    text-decoration: none;
    margin-top: 58px;
    margin-left: 44px;
}
.menu__item-uppercase{
    margin-right: 23px;
    margin-top: 22px;
    text-transform: uppercase;
}
.menu__item:hover{
    text-decoration: underline;
}
.menu__item-button{
    height: 20px;
    width: 130px;
    border-radius: 6px;
    background-color: white;
    border: 0px;
}
.menu__item-button:hover{
background-color: red;
text-decoration: none !important;
}
.bell{
    text-decoration: none;
    color: black;
}
.lang{
    margin-top: 40px;
    width: 1.4rem;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 0.75rem;
    line-height: 1rem;
}
.language__ico {
    margin-left: 20px;
    margin-top: -31px;
}
.lang li a{
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
.lang li a:hover{
    background: gray;
    box-shadow: 1px 5px 10px -5px gray;
    transition: 0.3s;
}
.lang li ul {
    position: absolute;
    min-width: 1.4rem;
    left: -0.1rem;
    display: none;
    margin-top: -15px;
}
.lang ul li{
    position: relative;
}
.lang li ul li {
    padding: 0.1rem;
}

.lang li:hover ul {
    display: block;
}
.page1__body{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
}
.page1__body a{
color: white;
text-decoration: none;
align-items: center;
font-family: "IBM Plex Sans";
font-style: normal;
font-weight: 100;
font-size: 68px;
line-height: 88px;
}
.welcom__block{
    display: flex;
    justify-content: center;
} 
.welcom__fone{
    width: 426px;
    height: 221px;
    margin-left: 680px;
    background: #FFFFFF;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    border-radius: 10px;
    margin-top: -165px;
}
.block__welcom .welcome__head,
.welcome__text {
    font-family: "IBM Plex Sans";
    font-style: normal;
}
.welcome__head {
    margin-left: 2.94rem;
    margin-top: 2.56rem;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 2.8rem;
    letter-spacing: 1px;
}
.welcome__text {
    margin-left: 2.94rem;
    margin-top: 1.81rem;
    font-weight: normal;
    font-size: 0.6rem;
    line-height: 0.8rem;
}