/* Footer Map */
/* font family */
.map__adress,
.adress-map__innopolis_university,
.item-footer__text,
.item-foter__copyright,
.item-footer__site,
.item-footer__event_details,
.item-footer__speakers,
.item-footer__sponsors,
.item-footer__past_events,
.item-footer__contact,
.item-footer__number,
.item-footer__kinopoisk,
.item-footer__adress,
.item-footer__map,
.item-footer__all_contacts {
    position: absolute;
    text-decoration: none;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #FFFFFF;
}

.map__img {
    position: absolute;
    width: 973px;
    height: 421px;
    left: 75px;
    top: 5962px;
    border-radius: 20px;
}

.map__adress {
    width: 69px;
    height: 7px;
    left: 418px;
    top: 6074px;
    font-weight: 600;
    font-size: 7px !important;
    line-height: 9px !important;
    color: #696969 !important;
}

.adress-map__innopolis_university {
    width: 53.33px;
    height: 20.09px;
    left: 393px;
    top: 6111.76px;
    font-weight: 600;
    font-size: 7px !important;
    line-height: 9px !important;
    color: #696969 !important;
    transform: matrix(0.84, -0.53, 0.54, 0.85, 0, 0);
}

/* Footer content */
.item-footer__fone {
    position: absolute;
    width: 1126px;
    height: 362px;
    left: 10px;
    top: 6361px;
    background: #A3CC40;
}

.item-footer__logo {
    position: absolute;
    left: 90px;
    top: 6452px;
}

.item-footer__text {
    width: 269px;
    height: 72px;
    left: 89px;
    top: 6501px;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 18px !important;
}

.ico-footer__instagram {
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 96px;
    top: 6604px;
}

.ico-footer__linkedin {
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 158px;
    top: 6604px;
}

.ico-footer__twitter {
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 223px;
    top: 6604.75px;
}

.ico-footer__youtube {
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 12.75px;
    left: 290px;
    top: 6608px;
}

.ico-footer__facebook {
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 347px;
    top: 6604px;
}

.item-footer__copyright {
    width: 436px;
    height: 39px;
    left: 89px;
    top: 6672px;
    font-weight: normal !important;
    font-size: 15px !important;
    line-height: 19px !important;
}

.item-footer__site {
    width: 111px;
    height: 26px;
    left: 529px;
    top: 6445px;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 26px !important;
}

.item-footer__event_details {
    width: 111px;
    height: 16px;
    left: 529px;
    top: 6493px;
}

.item-footer__speakers {
    width: 111px;
    height: 16px;
    left: 529px;
    top: 6521px;
}

.item-footer__sponsors {
    width: 111px;
    height: 16px;
    left: 529px;
    top: 6549px;
}

.item-footer__past_events {
    width: 111px;
    height: 16px;
    left: 529px;
    top: 6577px;
}

.item-footer__contact {
    width: 111px;
    height: 26px;
    left: 738px;
    top: 6445px;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 26px !important;
}

.item-footer__number {
    width: 148px;
    height: 16px;
    left: 738px;
    top: 6493px;
}

.item-footer__kinopoisk {
    width: 147px;
    height: 16px;
    left: 738px;
    top: 6521px;
}

.item-footer__adress {
    width: 189px;
    height: 32px;
    left: 738px;
    top: 6549px;
}

.item-footer__map {
    width: 111px;
    height: 16px;
    left: 738px;
    top: 6593px;
}

.item-footer__all_contacts {
    width: 111px;
    height: 16px;
    left: 738px;
    top: 6621px;
}