.menu__main_img {
    position: absolute;
    margin: auto;
    width: 1124px;
}

.menu__main_img::after {
    position: absolute;
    top: 535px;
    left: 0px;
    bottom: 0;
    content: "";
    display: block;
    border-right: 100vw solid #fff;
    border-top: 106px solid transparent;
    overflow: hidden;
}

.item-menu__logo {
    position: absolute;
    left: 90px;
    top: 54px;
}

.menu__item a {
    position: absolute;
    text-decoration: none;
    float: left;
    color: #FFFFFF;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}

.item-menu__tel {
    width: 125px;
    left: 290px;
    top: 48px;
}

.item-menu__mail {
    width: 98px;
    left: 451px;
    top: 45px;
}

.item-menu__adress {
    width: 125px;
    left: 604px;
    top: 46px;
}

.item-menu__eventDetails {
    width: 125px;
    left: 297px;
    top: 77px;
}

.item-menu__speakers {
    width: 58px;
    left: 453px;
    top: 78px;
}

.item-menu__sponsors {
    width: 62px;
    left: 582px;
    top: 78px;
}

.item-menu__pastevents {
    width: 103px;
    left: 723px;
    top: 78px;
}

.item-menu__contact {
    width: 52px;
    left: 871px;
    top: 78px;
}

/* button */
.item-menu__button {
    position: relative;
    width: 130px;
    height: 21px;
    left: 761px;
    top: 44px;
    background-color: white;
    border-radius: 5px;
    border: 0px;
}

.item-menu__bell {
    position: absolute;
    left: 21%;
    right: 5.38%;
    top: 9.52%;
    bottom: 14.29%;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: black;
}

.item-menu__button:hover {
    background-color: red;
    transition: 0.3s;
}

.button-item__iconPhone {
    position: absolute;
    left: 7%;
    right: 80%;
    top: 21%;
    bottom: 19%;
}

/* Menu language */
.Language__ico {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 20px;
    top: 2px;
}

.menu__language {
    position: absolute;
    width: 23px;
    height: 16px;
    left: 1010px;
    top: 47px;
    font-size: 12px;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 16px;
}

.menu__language ul li a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
}

.menu__language ul li {
    position: relative;
}

.menu__language li a:hover {
    background: gray;
    box-shadow: 1px 5px 10px -5px gray;
    transition: 0.3s;
}

/* language list*/
.menu__language li ul {
    position: absolute;
    min-width: 23px;
    left: -3px;
    display: none;
}

.menu__language li ul li {
    padding: 5px;
}

.menu__language li:hover ul {
    display: block;
}

/* Заголовки */
.headlines__main a {
    position: absolute;
    font-family: "IBM Plex Sans";
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}

.main-headline__chooseFilm {
    width: 728px;
    height: 88px;
    left: 200px;
    top: 224px;
    font-weight: 100;
    font-size: 68px;
    line-height: 88px;
}

.main-headline__present {
    width: 592px;
    height: 53px;
    left: 264px;
    top: 330px;
    font-weight: normal;
    font-size: 41px;
    line-height: 53px;
}

/* welcom text */
.Welcom__Fone {
    position: absolute;
    width: 426px;
    height: 221px;
    left: 563px;
    top: 525px;
    background: #FFFFFF;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    border-radius: 10px;
}

.Welcom__item .Welcome__Head,
.Welcome__Text {
    position: absolute;
    font-family: "IBM Plex Sans";
    font-style: normal;
}

.Welcome__Head {
    left: 49px;
    top: 30px;
    font-size: 33px;
    font-weight: bolder;
    line-height: 46px;
    letter-spacing: 1px;
}

.Welcome__Text {
    width: 332px;
    height: 69px;
    left: 48px;
    top: 94px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
}