div.menu ul.menu__item {
    position: absolute;
    list-style-type: none;
}

div.menu ul.menu__item a.item-menu__tel,
a.item-menu__mail,
a.item-menu__adress,
a.item-menu__bell,
a.menu_item_language,
a.item-menu__eventDetails,
a.item-menu__speakers,
a.item-menu__sponsors,
a.item-menu__pastevents,
a.item-menu__contact,
a.item-menu__chooseFilm,
a.item-menu__present {
    text-decoration: none;
    position: absolute;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    font-weight: bold;
}

div.menu ul.menu__item a.item-menu__tel,
.item-menu__mail,
.item-menu__adress,
.item-menu__eventDetails,
.item-menu__speakers,
.item-menu__sponsors,
.item-menu__pastevents,
.item-menu__contact {
    width: 111px;
    height: 16px;
}

div.menu ul.menu__item a.item-menu__tel,
.item-menu__mail,
.item-menu__adress,
.menu_item_language {
    top: 50px;
}

div.menu ul.menu__item a.item-menu__eventDetails,
a.item-menu__speakers,
a.item-menu__sponsors,
a.item-menu__pastevents,
.item-menu__contact {
    top: 81px;
}

.item-menu__logo {
    position: absolute;
    left: 89px;
    top: 58px;
}

.item-menu__tel {
    left: 297px
}

.item-menu__mail {
    left: 450px;
}

.item-menu__adress {
    left: 600px;
}

.item-menu__button {
    position: absolute;
    width: 130px;
    height: 21px;
    left: 761px;
    top: 44px;
    background-color: white;
    border-radius: 5px;
    border: 0px;
}

.item-menu__bell {
    left: 20.77%;
    right: 5.38%;
    top: 9.52%;
    bottom: 14.29%;
    text-align: center;
    font-weight: bold !important;
    color: black !important;
}

.button-item__iconPhone {
    position: absolute;
    left: 6.15%;
    right: 84.62%;
    top: 23.81%;
    bottom: 19.05%;
}

.item-menu__eventDetails {
    left: 302px;
}

.item-menu__speakers {
    left: 450px;
}

.item-menu__sponsors {
    left: 581px;
}

.item-menu__pastevents {
    left: 722px;
}

.item-menu__contact {
    left: 871px;
}

.item-menu__chooseFilm {
    width: 728px;
    height: 88px;
    left: 209px;
    top: 253px;
    font-weight: 100 !important;
    font-size: 68px !important;
    line-height: 88px !important;
    text-align: center;
}

.item-menu__present {
    width: 592px;
    height: 53px;
    left: 296px;
    top: 345px;
    font-weight: normal !important;
    font-size: 41px !important;
    line-height: 53px !important;
    text-align: center;
}

.MainPicture {
    max-width: 1218px;
    height: 648px;
    left: -70px;
    top: -82px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 648px;
    position: relative; */

}

/* .MainPicture::before {
    display: block;
    content: "";
    width: 100%;
    height: 30px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background: linear-gradient(to top right, #FFFFFF 50%; rgba(0, 0, 0, 0) 52%);
} */

/* welcom */
.Welcom__Fone {
    position: absolute;
    width: 426px;
    height: 221px;
    left: 563px;
    top: 525px;
    background: #FFFFFF;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    border-radius: 10px;
}

.Welcome__Head {
    position: absolute;
    left: 53px;
    top: 41px;
    font-family: "IBM Plex Sans"sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 43px;
}

.Welcome__Text {
    position: absolute;
    width: 332px;
    height: 69px;
    left: 48px;
    top: 99px;
    font-family: "IBM Plex Sans"sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

/* Menu language */
.Language__ico {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 20px;
    top: 2px;
}

.menu__language {
    position: absolute;
    width: 23px;
    height: 16px;
    left: 1009px;
    top: 46px;
    font-size: 12px;
}

.menu__language ul li a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
}

.menu__language ul li {
    position: relative;
}

.menu__language li a:hover {
    background: gray;
    box-shadow: 1px 5px 10px -5px gray;
    transition: 0.3s;
}

/* language list */
.menu__language li ul {
    position: absolute;
    min-width: 23px;
    left: -3px;
    display: none;
}

.menu__language li ul li {
    padding: 5px;
}

.menu__language li:hover ul {
    display: block;
}