.advanteges__block {
    width: 53.1rem;
    margin: 0 auto;
    position: relative;
    font-family: "IBM Plex Sans";
}

.advanteges__block__tittle {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.29;
    color: #A3CC40;
    left: -4.25rem;
    top: -16rem;
    word-spacing: 0.4rem;
}

.advanteges__container {
    position: relative;
    margin-top: 8.1rem;
    margin-left: -6.1rem;

}

.advanteges__wrapper {
    overflow: hidden;
    padding: 0.3rem;
}

.wrapper__item {
    padding-top: 1.2rem;
    float: left;
    box-sizing: border-box;
    width: 33.333%;
    padding-left: 1.7rem;
    height: 24.3rem;
}

.wrapper__item img {
    width: 245px;
    height: 169px;
}

.wrapper__tittle {
    width: 15.3rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.3;
    text-align: center;
    padding-top: 2.8rem;
    display: block;
}

.wrapper__subtittle {
    width: 15.3rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.6rem;
    line-height: 1.3;
    text-align: center;
    padding-top: 1.8rem;
    padding-bottom: 2.8rem;
}