.feedback {
    width: 780px;
    min-height: 527px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    background: url('/images/imgFeedBack.jpg') 0 0/auto 100% no-repeat;    
    border-radius: 5px;
    overflow: hidden;
}
.feedback__wrapper {
    margin-left: 424px;
}
.feedback__tittle {
    margin-top: 45px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.28;
    color: #A3CC40;
}
.feedback__name input,
.feedback__seatnumber input,
.feedback__reviews textarea{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.27;
    color: #A1A1A1;
    width: 344px;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
}
.feedback__checkbox {         
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.3;
    padding-left: 0.5em;
}
.feedback__agree{
margin-top: 10px;
}
.feedback__button {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #A3CC40;
    border-radius: 6px;
    width: 344px;
    Height: 57px;
    margin-top: 46px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.feedback__button:hover {
    color: #A3CC40;
    background: #FFFFFF;
    border: 1px solid rgba(163, 204, 64, 0.62);
    box-sizing: border-box;
    box-shadow: 0px 2px 9px rgba(144, 210, 61, 0.3);
    border-radius: 6px;
}