.item-present__img_fone {
    margin: 0 auto;
    max-width: 100%;
    text-align: right;
    display: flex;
    /* position: relative; */
    flex-direction: column;
    justify-content: center;
    min-height: 43.4rem;
    overflow: hidden;
    z-index: -1;
    margin-top: 27.5rem;
}

.item__main_img::before {
    /* position: absolute; */
    top: 129.6rem;
    content: "";
    display: block;
    border-left: 100vw solid #FFFFFF;
    border-bottom: 100px solid transparent;
    overflow: hidden;
    height: 8.5rem;
}

.item__main_img::after {
    /* position: absolute; */
    top: 167.6rem;
    content: "";
    display: block;
    border-right: 100vw solid #fff;
    border-top: 100px solid transparent;
    overflow: hidden;
    height: 10.5rem;
}

.item-present__img_box {
    /* position: absolute; */
    width: 17.2rem;
    height: 17.2rem;
    left: 8.6rem;
    top: 136.6rem;
    border-radius: 100%;
}

.item-present__img_box:hover {
    cursor: help;
}

/* font family */
.item-present__head_text,
.item-present__text {
    /* position: absolute; */
    font-family: "IBM Plex Sans";
    font-style: normal;
    text-align: right;
    color: #FFFFFF;
}

.item-present__head_text {
    width: 34.2rem;
    height: 3.8rem;
    left: 27.5rem;
    top: 146.6rem;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.8rem;
}

.item-present__text {
    width: 34.2rem;
    height: 10.8rem;
    left: 27.5rem;
    top: 152.9rem;
    font-weight: normal;
    font-size: 0.6rem;
    line-height: 0.8rem;
}

.item-present__button {
    /* position: absolute; */
    width: 11.8rem;
    height: 1.9rem;
    left: 49.8rem;
    top: 165.3rem;
    border-radius: 0.3rem;
    background: #A3CC40;
    color: #FFFFFF;
    border: none;

}