/* font family */
/* .products__head,
.products__head_text,
.cola-item__text,
.trinket-item__text,
.poster-item__text {
    font-family: "IBM Plex Sans";
    font-style: normal;
} */

/* .products__head {
    position: absolute;
    width: 548px;
    height: 62px;
    left: 139px;
    top: 3986px;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
} */

/* .products__head_text {
    position: absolute;
    width: 548px;
    height: 28px;
    left: 139px;
    top: 4075px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
}

.products-item__coca_cola {
    position: absolute;
    width: 245px;
    height: 331px;
    left: 140px;
    top: 4160px;
    z-index: -1;
}

.cola-item__text {
    position: absolute;
    width: 177px;
    height: 26px;
    left: 178px;
    top: 4421px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.cola-item__fone {
    position: absolute;
    width: 238px;
    height: 83px;
    left: 144px;
    top: 4402px;
    background: rgba(163, 204, 64, 0.8);
    z-index: 1;

}

.cola-item__fone::after {
    position: absolute;
    left: 0px;
    bottom: 83px;
    content: "";
    border-top: 60px solid transparent;
    border-right: 238px solid rgba(163, 204, 64, 0.8);
    overflow: hidden;
}

.products-item__trinket {
    position: absolute;
    width: 245px;
    height: 331px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    top: 4160px;
    left: 440px;
}

.trinket-item__text {
    position: absolute;
    width: 177px;
    height: 86px;
    left: 474px;
    top: 4393px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.trinket-item__fone {
    position: absolute;
    width: 238px;
    height: 83px;
    left: 444px;
    top: 4402px;
    background: rgba(163, 204, 64, 0.8);
    z-index: 1;
}

.trinket-item__fone::after {
    position: absolute;
    left: 0px;
    bottom: 83px;
    content: "";
    border-top: 60px solid transparent;
    border-right: 238px solid rgba(163, 204, 64, 0.8);
    overflow: hidden;
}

.products-item__poster {
    position: absolute;
    width: 245px;
    height: 331px;
    left: 740px;
    top: 4160px;
    bottom: 0px;
    z-index: -1;
}

.poster-item__text {
    position: absolute;
    width: 177px;
    height: 60px;
    left: 773px;
    top: 4403px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.poster-item__fone {
    position: absolute;
    width: 238px;
    height: 83px;
    left: 744px;
    top: 4402px;
    background: rgba(163, 204, 64, 0.8);
}

.poster-item__fone::after {
    position: absolute;
    bottom: 83px;
    left: 0px;
    content: "";
    border-top: 60px solid transparent;
    border-right: 238px solid rgba(163, 204, 64, 0.8);
    overflow: hidden;
} */
.choice-products__tittle {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.29;
    color: #A3CC40;
    left: 8.75rem;
    top: 250rem;
    word-spacing: 0.4rem;
    font-family: "IBM Plex Sans";
}

.choice-products__subtittle {
    position: absolute;
    margin-top: 2.7rem;
    margin-bottom: 3.75rem;
    width: 34.2rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.6rem;
    line-height: 1.27;
    left: 8.7rem;
    top: 252.5rem;
}

.products__block {
    width: 53.1rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6.25rem;
}

.choice__products {
    overflow: hidden;
    margin: 0 -1.75rem;
    margin-left: -4.3rem;
}

.products__item {
    display: inline-block;
    position: relative;
    /* overflow: hidden; */
    width: 33.333%;
    padding: 0 1.7rem;
    float: left;
    box-sizing: border-box;
    padding-top: 16.1rem;
    padding-left: 0px;
}

.products__buy {
    float: left;
    color: #333333;
}

.products__buy img {
    width: 15.3rem;
    height: 20.6rem;
}

.products__tittle {
    position: absolute;
    text-align: center;
    margin-top: 80%;
    margin-left: 12%;
    width: 11rem;
    height: 9.5rem;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #FFFFFF;
}

.item__fone {
    position: absolute;
    width: 14.8rem;
    height: 5.1rem;
    margin-top: 16rem;
    margin-left: 0.25rem;
    background: rgba(163, 204, 64, 0.8);
}

.item__fone::after {
    position: absolute;
    bottom: 5.1rem;
    content: "";
    border-top: 3.7rem solid transparent;
    border-right: 14.8rem solid rgba(163, 204, 64, 0.8);
    overflow: hidden;
}