.advanteges__block {
    width: 53.1rem;
    margin: 0 auto;
    position: relative;
    font-family: "IBM Plex Sans";
}

.advanteges__block__tittle {
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.29;
    color: #A3CC40;
    word-spacing: 0.4rem;
}

.advanteges__container {
    margin-top: 8.1rem;
}

.advanteges__wrapper {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper__item {
    box-sizing: border-box;
}

.wrapper__item img {
    width: 15.31rem;
    height: 10.56rem;
}

.wrapper__tittle {
    width: 15.3rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.3;
    text-align: center;
    padding-top: 2.8rem;
    display: block;
}

.wrapper__subtittle {
    width: 15.3rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.6rem;
    line-height: 1.3;
    text-align: center;
    padding-top: 1.8rem;
    padding-bottom: 2.8rem;
}