.films {
    border-collapse: collapse;
    width: 53.06rem;
    margin-top: 4.3rem;
    margin-right: auto;
    margin-left: auto;

}
.films__tittle {
    width: 53.1rem;
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.29;
    color: #A3CC40;
    letter-spacing: 0.12rem;
    font-family: "IBM plex sans";
}
.films__subtittle {
    margin-top: 2.5rem;
    width: 34.25rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.68rem;
    line-height: 1.27;
    font-family: "IBM Plex Sans";
}
.item__wrapper a {
    display: inline-block; 
    float: left; 
    position: relative;
    width: 17.6rem;
    height: 17.6rem;
}
.item__wrapper a:hover span{
    opacity: 1;
}
.item__wrapper a:hover p{
    opacity: 1;
}
.item__wrapper a:hover .wrapper__fones {
    background: rgba(50, 51, 50, 0.4);
}
.films-wrapper__tittle {
    position: absolute;
    padding-top: 1.87rem;
    padding-left: 1.56rem;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 1.81rem;
    line-height: 1.31;
    color: #FFFFFF;
    opacity: 0;
    transition: all 0.2s ease;
    width: 17.68rem;
    height: 17.68rem;
    z-index: 3;

}
.films-wrapper__subtittle{
    position: absolute;
    padding-top: 4.37rem;
    padding-left: 1.56rem;
    /* width: 141.81rem; */
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 0.68rem;
    line-height: 1.27;
    color: #FFFFFF;
    opacity: 0;
    transition: all 0.2s ease;
    z-index: 3;

}
.wrapper__fones {
    height: 100%;
    width: 101%;
    background: rgba(97, 95, 95, 0.8);
    position: absolute;
    transition: all 0.2s ease;
}
.wrapper__fones:hover {
    background: none;
}
.item__wrapper img{
    height: 283px;
    width: 280px;
}