/* Заголовок */
/* font family */
/* .films-choice__poster {
    font-family: "IBM Plex Sans";
    font-style: normal;
}

.text-films__tittle{
    position: absolute;
    width: 548px;
    height: 62px;
    left: 137px;
    top: 2876px;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
}

.text-films__subtittle{
    position: absolute;
    width: 548px;
    height: 28px;
    left: 139px;
    top: 2965px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
} */

/* Таблица с фильмами */
/* .films__wrapper a{
    float: left;
}
.poster-films__Survivor_img {
    position: absolute;
    width: 284px;
    height: 284px;
    left: 139px;
    top: 3057px;
}

.films-wrapper__tittle {
    position: absolute;
    width: 239px;
    height: 38px;
    left: 163px;
    top: 3074px;
    font-weight: 600;
    font-size: 29px;
    line-height: 38px;
    color: #FFFFFF;
    z-index: 2;
}

.films-wrapper__subtittle {
    position: absolute;
    width: 237px;
    height: 105px;
    left: 163px;
    top: 3125px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    z-index: 2;
}

.films-choice__poster:hover .poster-films__Survivor_fones {
    position: absolute;
    width: 283px;
    height: 283px;
    left: 139px;
    top: 3057px;
    background: rgba(144, 210, 61, 0.4);
    z-index: 2;
}

.poster-films__Ice_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 422.33px;
    top: 3057px;
}

.poster-films__Martian_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 702.87px;
    top: 3057px;
}

.poster-films__Satellite_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 139px;
    top: 3340.33px;
}

.poster-films__Ak47_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 422.33px;
    top: 3340.33px;
}

.poster-films__Territory_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 705.67px;
    top: 3340.33px;
}

.poster-films__Dream_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 139px;
    top: 3623.67px;
}

.poster-films__Unknown_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 422.33px;
    top: 3623.67px;
}

.poster-films__Alive_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 705.67px;
    top: 3623.67px;
}

.poster-films__Fones {
    position: absolute;
    width: 850px;
    height: 850px;
    left: 139px;
    top: 3057px;
    background: rgba(22, 22, 22, 0.8);
} */
.choice-films__tittle {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.29;
    color: #A3CC40;
    left: 155px;
    top: 2890px;
    word-spacing: 7px;
}

.text-films__subtittle {
    position: absolute;
    margin-top: 40px;
    left: 140px;
    top: 2968px;
    width: 548px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.27;
    color: #333333;
}

.choiсe__films {
    border-collapse: collapse;
    width: 850px;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
}

.films__wrapper {
    overflow: hidden;
    margin-top: 0px;
    background: rgba(22, 22, 22, 0.8);
}

.films__wrapper a {
    display: block;
    float: left;
    position: relative;
    width: 214px;
    height: 214px;
}

.films__wrapper img {
    width: 283px;
    height: 250px;
}

.films-wrapper__tittle {
    position: absolute;
    padding-top: 30px;
    padding-left: 25px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 1.31;
    color: #FFFFFF;
    opacity: 0;
    transition: all 0.2s ease;
    width: 283px;
    height: 283px;
    z-index: 3;
}

.films-wrapper__subtittle {
    position: absolute;
    padding-top: 70px;
    padding-left: 25px;
    Width: 283px;
    height: 283px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.27;
    color: #FFFFFF;
    opacity: 0;
    transition: all 0.2s ease;
    z-index: 3;
}