/* font family */
.products__head,
.products__head_text,
.Cola-item__text,
.Trinket-item__text,
.Poster-item__text {
    font-family: "IBM Plex Sans";
    font-style: normal;
}

.products__head {
    position: absolute;
    width: 548px;
    height: 62px;
    left: 139px;
    top: 3986px;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
}

.products__head_text {
    position: absolute;
    width: 548px;
    height: 28px;
    left: 139px;
    top: 4075px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
}

.products-item__CocaCola {
    position: absolute;
    width: 245px;
    height: 331px;
    left: 140px;
    top: 4160px;
    z-index: -1;
}

.Cola-item__text {
    position: absolute;
    width: 177px;
    height: 26px;
    left: 178px;
    top: 4421px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.Cola-item__fone {
    position: absolute;
    width: 238px;
    height: 83px;
    left: 144px;
    top: 4402px;
    background: rgba(163, 204, 64, 0.8);
    z-index: 1;

}

.Cola-item__fone::after {
    position: absolute;
    left: 0px;
    bottom: 83px;
    content: "";
    border-top: 60px solid transparent;
    border-right: 238px solid rgba(163, 204, 64, 0.8);
    overflow: hidden;
}

.products-item__Trinket {
    position: absolute;
    width: 245px;
    height: 331px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    top: 4160px;
    left: 440px;
}

.Trinket-item__text {
    position: absolute;
    width: 177px;
    height: 86px;
    left: 474px;
    top: 4393px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.TrinketTrinket-item__fone {
    position: absolute;
    width: 238px;
    height: 83px;
    left: 444px;
    top: 4402px;
    background: rgba(163, 204, 64, 0.8);
    z-index: 1;
}

.TrinketTrinket-item__fone::after {
    position: absolute;
    left: 0px;
    bottom: 83px;
    content: "";
    border-top: 60px solid transparent;
    border-right: 238px solid rgba(163, 204, 64, 0.8);
    overflow: hidden;
}

.products-item__Poster {
    position: absolute;
    width: 245px;
    height: 331px;
    left: 740px;
    top: 4160px;
    bottom: 0px;
    z-index: -1;
}

.Poster-item__text {
    position: absolute;
    width: 177px;
    height: 60px;
    left: 773px;
    top: 4403px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.PosterPoster-item__fone {
    position: absolute;
    width: 238px;
    height: 83px;
    left: 744px;
    top: 4402px;
    background: rgba(163, 204, 64, 0.8);
}

.PosterPoster-item__fone::after {
    position: absolute;
    bottom: 83px;
    left: 0px;
    content: "";
    border-top: 60px solid transparent;
    border-right: 238px solid rgba(163, 204, 64, 0.8);
    overflow: hidden;
}