.item-present__imgFone {
    position: absolute;
    width: 1129px;
    height: 587px;
    left: -3px;
    top: 2244px;
}

/* .PresentFone_Img::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    display: block;
    border-left: 100vw solid #fff;
    border-bottom: 100px solid transparent;
    overflow: hidden;
}

.PresentFone_Img::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    display: block;
    border-right: 100vw solid #fff;
    border-top: 100px solid transparent;
    overflow: hidden;
} */

.item-present__imgBox {
    position: absolute;
    width: 276px;
    height: 276px;
    left: 139px;
    top: 2186px;
    border-radius: 100%;
}

.item-present__headText {
    position: absolute;
    width: 548px;
    height: 62px;
    left: 441px;
    top: 2347px;
    font-family: "IBM Plex Sans"sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    text-align: right;
    color: #FFFFFF;
}

.item-present__text {
    position: absolute;
    width: 548px;
    height: 173px;
    left: 441px;
    top: 2447px;
    font-family: "IBM Plex Sans"sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
}

.item-present__button {
    position: absolute;
    width: 190px;
    height: 31px;
    left: 797px;
    top: 2646px;
    border-radius: 6px;
    background: #A3CC40;
    color: #FFFFFF;
    border: none;

}