/* Заголовок */
/* font family */
.films-choice__poster {
    font-family: "IBM Plex Sans";
    font-style: normal;
}

.text-films__head {
    position: absolute;
    width: 548px;
    height: 62px;
    left: 137px;
    top: 2876px;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
}

.text-films__head_text {
    position: absolute;
    width: 548px;
    height: 28px;
    left: 139px;
    top: 2965px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
}

/* Таблица с фильмами */
.poster-films__Survivor_img {
    position: absolute;
    width: 284px;
    height: 284px;
    left: 139px;
    top: 3057px;
}

.poster-films__Survivor_head_Text {
    position: absolute;
    width: 239px;
    height: 38px;
    left: 163px;
    top: 3074px;
    font-weight: 600;
    font-size: 29px;
    line-height: 38px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Survivor_Text {
    position: absolute;
    width: 237px;
    height: 105px;
    left: 163px;
    top: 3125px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    z-index: 2;
}

.films-choice__poster:hover .poster-films__Survivor_fones {
    position: absolute;
    width: 283px;
    height: 283px;
    /* left: 139px;
    top: 3057px; */
    background: rgba(144, 210, 61, 0.4);
    z-index: 2;
}

.poster-films__Ice_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 422.33px;
    top: 3057px;
}

.poster-films__ice_head_Text {
    position: absolute;
    width: 239px;
    height: 38px;
    left: 446px;
    top: 3074px;
    font-weight: 600;
    font-size: 29px;
    line-height: 38px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__ice_Text {
    position: absolute;
    width: 237px;
    height: 105px;
    left: 446px;
    top: 3125px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Martian_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 702.87px;
    top: 3057px;
}

.poster-films__Martian_head_Text {
    position: absolute;
    width: 239px;
    height: 38px;
    left: 730px;
    top: 3074px;
    font-weight: 600;
    font-size: 29px;
    line-height: 38px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Martian_Text {
    position: absolute;
    width: 237px;
    height: 105px;
    left: 730px;
    top: 3125px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Satellite_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 139px;
    top: 3340.33px;
}

.poster-films__Satellite_head_Text {
    position: absolute;
    width: 239px;
    height: 38px;
    left: 163px;
    top: 3367px;
    font-weight: 600;
    font-size: 29px;
    line-height: 38px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Satellite_Text {
    position: absolute;
    width: 237px;
    height: 105px;
    left: 163px;
    top: 3412px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Ak47_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 422.33px;
    top: 3340.33px;
}

.poster-films__Ak47_head_Text {
    position: absolute;
    width: 239px;
    height: 38px;
    left: 446px;
    top: 3367px;
    font-weight: 600;
    font-size: 29px;
    line-height: 38px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Ak47_Text {
    position: absolute;
    width: 237px;
    height: 105px;
    left: 446px;
    top: 3412px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Territory_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 705.67px;
    top: 3340.33px;
}

.poster-films__Territory_head_Text {
    position: absolute;
    width: 239px;
    height: 38px;
    left: 730px;
    top: 3367px;
    font-weight: 600;
    font-size: 29px;
    line-height: 38px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Territory_Text {
    position: absolute;
    width: 237px;
    height: 105px;
    left: 730px;
    top: 3412px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Dream_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 139px;
    top: 3623.67px;
}

.poster-films__Dream_head_Text {
    position: absolute;
    width: 239px;
    height: 105px;
    left: 163px;
    top: 3651px;
    font-weight: 600;
    font-size: 29px;
    line-height: 38px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Dream_Text {
    position: absolute;
    width: 237px;
    height: 105px;
    left: 163px;
    top: 3696px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Unknown_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 422.33px;
    top: 3623.67px;
}

.poster-films__Unknown_head_Text {
    position: absolute;
    width: 239px;
    height: 38px;
    left: 446px;
    top: 3651px;
    font-weight: 600;
    font-size: 29px;
    line-height: 38px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Unknownr_Text {
    position: absolute;
    width: 237px;
    height: 105px;
    left: 446px;
    top: 3696px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Alive_img {
    position: absolute;
    width: 283.33px;
    height: 283.33px;
    left: 705.67px;
    top: 3623.67px;
}

.poster-films__Alive_head_Text {
    position: absolute;
    width: 239px;
    height: 38px;
    left: 730px;
    top: 3651px;
    font-weight: 600;
    font-size: 29px;
    line-height: 38px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Alive_Text {
    position: absolute;
    width: 237px;
    height: 105px;
    left: 730px;
    top: 3696px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    z-index: 2;
}

.poster-films__Fones {
    position: absolute;
    width: 850px;
    height: 850px;
    left: 139px;
    top: 3057px;
    background: rgba(22, 22, 22, 0.8);
}