.Why {
    position: absolute;
    width: 278px;
    height: 62px;
    left: 140px;
    top: 712px;
    font-family: IBM Plex Sans sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
}

.Img_BigScreen {
    position: absolute;
    width: 245px;
    height: 338px;
    left: 140px;
    top: 843px;

}

.BigScreen_Heading_Text {
    position: absolute;
    width: 161px;
    height: 26px;
    left: 181px;
    top: 1054px;
    font-family: IBM Plex Sans sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.BigScreen_Text {
    position: absolute;
    height: 83px;
    left: 155px;
    top: 1102px;
    font-family: IBM Plex Sans sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}

.Sound {
    position: absolute;
    width: 245px;
    height: 338px;
    left: 440px;
    top: 848px;
}

.Sound_Heading_Text {
    text-align: center;
    position: absolute;
    width: 245px;
    height: 26px;
    top: 210px;
    font-family: IBM Plex Sans sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

.Sound_Text {
    position: absolute;
    width: 245px;
    height: 83px;
    top: 250px;
    font-family: IBM Plex Sans sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}

.Comfortable_Chairs_Img {
    position: absolute;
    width: 245px;
    height: 338px;
    left: 739px;
    top: 843px;
}
.Comfortable_Chairs_HeadingText{
    text-align: center;
    position: absolute;
    width: 245px;
    height: 26px;
    top: 210px;
    font-family: IBM Plex Sans sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}
.Comfortable_Chairs_Text{
    position: absolute;
    width: 245px;
    height: 83px;
    top: 250px;
    font-family: IBM Plex Sans sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}
.Cosiness_Atmosphere_Img {
    position: absolute;
    width: 245px;
    height: 338px;
    left: 140px;
    top: 1210px;
}
.Cosiness_Atmosphere_HeadingText{
    text-align: center;
    position: absolute;
    width: 245px;
    height: 26px;
    top: 210px;
    font-family: IBM Plex Sans sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}
.Cosiness_Atmosphere_Text{
    position: absolute;
    width: 245px;
    height: 83px;
    top: 250px;
    font-family: IBM Plex Sans sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}

.FullImmersion_Img {
    position: absolute;
    width: 245px;
    height: 338px;
    left: 440px;
    top: 1210px;
}
.FullImmersion_HeadingText{
    text-align: center;
    position: absolute;
    width: 245px;
    height: 26px;
    top: 210px;
    font-family: IBM Plex Sans sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}
.FullImmersion_Text{
    position: absolute;
    width: 245px;
    height: 83px;
    top: 250px;
    font-family: IBM Plex Sans sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}

.Kissing_Img{
    position: absolute;
    width: 245px;
    height: 338px;
    left: 739px;
    top: 1210px;
}
.Kissing_HeadingText{
    text-align: center;
    position: absolute;
    width: 245px;
    height: 26px;
    top: 210px;
    font-family: IBM Plex Sans sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}
.Kissing_Text{
    position: absolute;
    width: 245px;
    height: 83px;
    top: 250px;
    font-family: IBM Plex Sans sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}






