/* font family */
.item-FeedBack__form,
.FeedBack-Form__agree {
    font-family: "IBM Plex Sans";
    font-style: normal;
}

.item-feedBack__img {
    position: absolute;
    width: 670px;
    height: 527px;
    left: 178px;
    top: 5370px;
}


.item-FeedBack__form_head {
    position: absolute;
    width: 252px;
    height: 33px;
    left: 633px;
    top: 5413px;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: #A3CC40;
}

.form-feedBack__name {
    position: absolute;
    width: 344px;
    height: 40px;
    left: 559px;
    top: 5454px;
    border-radius: 5px;
}

.form-feedBack__seatNumber {
    position: absolute;
    width: 344px;
    height: 40px;
    left: 559px;
    top: 5527px;
    border-radius: 5px;
}

.form-feedBack__reviews {
    position: absolute;
    width: 344px;
    height: 120px;
    left: 559px;
    top: 5597px;
    border-radius: 5px;
}

.FeedBack-Form__checkMark {
    position: absolute;
    width: 18px;
    height: 17px;
    left: 555px;
    top: 5748px;
    border: 1px solid #A3CC40;
    box-sizing: border-box;
    border-radius: 5px;
}

.FeedBack-Form__agree {
    position: absolute;
    width: 275px;
    height: 13px;
    left: 586px;
    top: 5749px;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    color: #333333;
}

.FeedBack-Form__button {
    position: absolute;
    width: 344px;
    height: 57px;
    left: 559.48px;
    top: 5807px;
    background: #A3CC40;
    border-radius: 6px;
    border: none;
    color: #fff;
}