.Advanteges__head,
.item-BigScreen__HeadText,
.item-BigScreen__text,
.item-Sound__HeadText,
.item-Sound__text,
.item-Chairs__HeadText,
.item-Chairs__Text,
.item-Atmosphere__HeadText,
.item-Atmosphere__text,
.item-FullImmersion__HeadText,
.item-FullImmersion__text,
.item-Kissing__HeadText,
.item-Kissing__Text {
    font-family: "IBM Plex Sans";
    font-style: normal;
}

.Advanteges__head {
    position: absolute;
    width: 278px;
    height: 62px;
    left: 140px;
    top: 712px;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
}

.item-BigScreen__img {
    position: absolute;
    width: 245px;
    height: 338px;
    left: 140px;
    top: 843px;

}

.item-BigScreen__HeadText {
    position: absolute;
    width: 161px;
    height: 26px;
    left: 182px;
    top: 1054px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.item-BigScreen__text {
    position: absolute;
    height: 83px;
    left: 143px;
    top: 1102px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}

.item-Sound__img {
    position: absolute;
    width: 245px;
    height: 338px;
    left: 440px;
    top: 848px;
}

.item-Sound__HeadText {
    text-align: center;
    position: absolute;
    width: 245px;
    height: 26px;
    top: 210px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

.item-Sound__text {
    position: absolute;
    width: 245px;
    height: 83px;
    top: 250px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}

.item-Chairs__img {
    position: absolute;
    width: 245px;
    height: 338px;
    left: 739px;
    top: 843px;
}

.item-Chairs__HeadText {
    text-align: center;
    position: absolute;
    width: 245px;
    height: 26px;
    top: 210px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

.item-Chairs__Text {
    position: absolute;
    width: 245px;
    height: 83px;
    top: 250px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}

.item-Atmosphere__img {
    position: absolute;
    width: 245px;
    height: 338px;
    left: 140px;
    top: 1210px;
}

.item-Atmosphere__HeadText {
    text-align: center;
    position: absolute;
    width: 245px;
    height: 26px;
    top: 210px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

.item-Atmosphere__text {
    position: absolute;
    width: 245px;
    height: 83px;
    top: 250px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}

.item-FullImmersion__img {
    position: absolute;
    width: 245px;
    height: 338px;
    left: 440px;
    top: 1210px;
}

.item-FullImmersion__HeadText {
    text-align: center;
    position: absolute;
    width: 245px;
    height: 26px;
    top: 210px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

.item-FullImmersion__text {
    position: absolute;
    width: 245px;
    height: 83px;
    top: 250px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}

.item-Kissing__img {
    position: absolute;
    width: 245px;
    height: 338px;
    left: 739px;
    top: 1210px;
}

.item-Kissing__HeadText {
    text-align: center;
    position: absolute;
    width: 245px;
    height: 26px;
    top: 210px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

.item-Kissing__Text {
    position: absolute;
    width: 245px;
    height: 83px;
    top: 250px;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}