/* #table__head {
    position: absolute;
    width: 394px;
    height: 62px;
    left: 135px;
    top: 1705px;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
} */

.line-table__header {
    position: absolute;
    width: 849px;
    height: 45px;
    left: 138px;
    top: 1838px;
    background: #A3CC40;
    border-radius: 10px 10px 0px 0px;
}

.line-table__first {
    position: absolute;
    width: 849px;
    height: 45px;
    left: 138px;
    top: 1883px;
    background: #373737;
}

.line-table__second {
    position: absolute;
    width: 849px;
    height: 45px;
    left: 138px;
    top: 1928px;
    background: #4C4D4F;
}

.line-table__third {
    position: absolute;
    width: 849px;
    height: 45px;
    left: 138px;
    top: 1973px;
    background: #373737;
}

.line-table__fourth {
    position: absolute;
    width: 849px;
    height: 45px;
    left: 138px;
    top: 2018px;
    background: #4C4D4F;
    border-radius: 0px 0px 10px 10px;
}

.table__text {
    position: absolute;
    width: 849px;
    height: 225px;
    left: 138px;
    top: 1838px;
    border: 2px;
    width: 849px;
}

.item-table__head {
    position: relative;
    align: center;
    color: #FFFFFF;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.text-table__time_films {
    position: absolute;
    width: 146px;
    height: 26px;
    left: 80px;
    top: 6px;
}

.text-table__name_films {
    position: absolute;
    width: 177px;
    height: 26px;
    left: 330px;
    top: 6px;
}

.text-table__genre_films {
    position: absolute;
    width: 56px;
    height: 26px;
    left: 560px;
    top: 6px;
}

/* font family */
.description-films-spider_man__time,
.description-films-spider_man__name,
.description-films-spider_man__genre,
.description-films-dog_life2__time,
.description-films-dog_life2__name,
.description-films-dog_life2__genre,
.description-films-history_toys4__time,
.description-films-history_toys4__name,
.description-films-history_toys4__genre,
.description-films-men_in_black__time,
.description-films-men_in_black__name,
.description-films-men_in_black__genre,
.footer__table_text {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

/* SpiderMan Description */
.description-films__spider_man {
    position: relative;
    align: center;
    color: #FFFFFF;
}

.description-films-spider_man__time {
    position: absolute;
    width: 236px;
    height: 18px;
    top: 58px;
    left: 87px;
}

.description-films-spider_man__name {
    text-decoration: none;
    position: absolute;
    width: 240px;
    height: 18px;
    left: 340px;
    top: 58px;
    color: #FFFFFF;
}

.description-films-spider_man__genre {
    position: absolute;
    width: 240px;
    height: 18px;
    left: 561px;
    top: 58px;
}

/* DogLife Description */
.description-films__dog_life2 {
    position: relative;
    align: center;
    color: #FFFFFF;
}

.description-films-dog_life2__time {
    position: absolute;
    width: 236px;
    height: 18px;
    left: 87px;
    top: 104px;
}

.description-films-dog_life2__name {
    text-decoration: none;
    position: absolute;
    width: 240px;
    height: 18px;
    left: 340px;
    top: 103px;
    color: #FFFFFF;
}

.description-films-dog_life2__genre {
    position: absolute;
    width: 240px;
    height: 18px;
    left: 561px;
    top: 103px;
}

.description-films__history_toys4 {
    position: relative;
    align: center;
    color: #FFFFFF;
}

.description-films-history_toys4__time {
    position: absolute;
    width: 236px;
    height: 18px;
    left: 87px;
    top: 145px;
}

.description-films-history_toys4__name {
    text-decoration: none;
    position: absolute;
    width: 240px;
    height: 18px;
    left: 338px;
    top: 149px;
    color: #FFFFFF;
}

.description-films-history_toys4__genre {
    position: absolute;
    width: 240px;
    height: 18px;
    left: 561px;
    top: 149px;
}

.description-films__men_in_black {
    position: relative;
    align: center;
    color: #FFFFFF;
}

.description-films-men_in_black__time {
    position: absolute;
    width: 236px;
    height: 18px;
    left: 87px;
    top: 189px;
    color: #FFFFFF;
}

.description-films-men_in_black__name {
    text-decoration: none;
    position: absolute;
    width: 240px;
    height: 18px;
    left: 338px;
    top: 191px;
    color: #FFFFFF;
}

.description-films-men_in_black__genre {
    position: absolute;
    width: 240px;
    height: 18px;
    left: 561px;
    top: 191px;
}

.arrow-up__time {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 360px;
    top: 1852px;
    transform: matrix(1, 0, 0, -1, 0)
}

.arrow-down__name {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 640px;
    top: 1852px;
}

.arrow__ten-oclock {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 163px;
    top: 1899px;
}

.arrow__twelwe-oclock {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 164px;
    top: 1945px;
}

.arrow__fourteen-oclock {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 166px;
    top: 1985px;
}

.arrow__sixteen-oclock {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 167px;
    top: 2030px;
}

.footer__table_text {
    position: absolute;
    width: 539px;
    height: 55px;
    left: 293px;
    top: 2093px;
    font-size: 11px !important;
    text-align: center;
    color: #333333;
}